{% extends "template.html" %}


{% block content %}
<div class="main-w3layouts wrapper">
<div class="main-agileinfo">
    <div class="agileits-top">
        <h1>Log In</h1>
        <form action="/login" method="post">
           <input class="text email" type="text" name="nick" placeholder="Nick" required="">
            <input class="text" type="password" name="password" placeholder="Password" required="">
            <div class="wthree-text">
                <div class="clear"> </div>
            </div>
            <input type="submit" value="LOGIN">
        </form>
        <p>Forget Password? <a href="#">Reset Here!</a></p>
    </div>
</div>
</div>


{% endblock %}