{% extends "template.html" %}


{% block content %}

        <section class="hero-section set-bg" data-setbg="../static/img/main/hero.jpg">
            <div class="hs-text">
                <h1>Welcome to world best scouting platform</h1>
                <h2>Do you really think you are good at football?</h2>
                <a href="/register" class="primary-btn">Join Us!</a>
            </div>
        </section>
        <section class="testimonials-section">
            <div class="comment-container">
                <div class="comment-box">
                    <div class="layer"></div>
                    <div class="content">
                        <img src="../static/img/main/img.png" class="quote">
                        <p>Anyway, now is in the tabele, we have to see the situation, now is second position, and, one
                            point more, i don't want to see the back, i want to see the front and i hope so tomorrow</p>
                        <img src="../static/img/main/terim.jpg" class="commenter">
                        <h3>Fatih Terim</h3>
                    </div>
                </div>
                <div class="comment-box">
                    <div class="layer"></div>
                    <div class="content">
                        <img src="../static/img/main/img.png" class="quote">
                        <p>This is very nice platform for football fans. Just register and share your scout experience
                            for all football players.</p>
                        <img src="../static/img/main/gunes.jpg" class="commenter">
                        <h3>Şenol Güneş</h3>
                    </div>
                </div>
                <div class="comment-box">
                    <div class="layer"></div>
                    <div class="content">
                        <img src="../static/img/main/img.png" class="quote">
                        <p>It's very nice platform for football fans. I am very happy to join this project.
                            All football players should join it.</p>
                        <img src="../static/img/main/vural.jpg" class="commenter">
                        <h3>Yılmaz Vural</h3>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}
